.hero {
    width: 100%;
    height: 100vh;
    /* background-color: var(--darkgrey); */
    background-image: url('https://images.pexels.com/photos/87503/pexels-photo-87503.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
}

.hero .container {
    max-width: 1240px;
    padding: 0 1rem;
    margin: auto;
}

.hero .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero .col-1 {
    padding: 1rem 1rem 1rem 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}

.hero .col-1 h1 {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
}

.hero .col-1 p {
    font-size: 1rem;
    color: var(--grey);
    line-height: 1.4;
    margin-top: 1.2rem;
    color: white;
    text-align: justify;
}

.hero .used-by p {
    color: var(--lightgrey);
    font-size: 12px;
    margin: 2rem 0 1rem 0;
}

.hero .col-1 .icons i {
    color: var(--grey);
    padding-right: 1rem;
    color: lime;
}


.hero .col-2 {
    padding: 1rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .8rem;
margin-left: 5rem;
margin-top: 30px;
}

.hero .col-2 p {
    color: var(--grey);
    padding-bottom: 10px;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.hero .form-layout {
    width: 400px;
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
}

.hero .form-container {
    padding: 1.5rem 2rem;
    background-color: var(--darkgrey);
}

.hero .sign-in-txt {
    margin-bottom: 10px;
    color: yellowgreen;
}

.social-login i {
    background-color: var(--darkgrey);
    padding: 16px 45px 6px 45px;
    border: 1px solid limegreen;
    border-radius: 4px;
    color: lime;
}


.col-2 .divider p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid var(--lightgrey);
    line-height: .1em;
    margin: 2rem 0 2rem;
    padding-bottom: 15px;
}

.col-2 .divider p span {
    background-color: #fff;
    padding: 0 10px;
}

form input {
    display: block;
    width: 100%;
    margin: 1.2rem 0;
    padding: 8px;
    border: 1px solid var(--lightgrey);
    border-radius: 4px;
}

.hero .form-footer {
    border-top: 1px solid var(--lightgrey);
    background-color: #f8f8f8;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.form-footer p {
    padding: 1.5rem 2rem;   
}

.form-footer span {
    font-weight: 500;
}

@media screen and (max-width:960px) {
    .hero {
        height: auto;
        width: 100%;
    }

    .hero .container {
        padding: 0 1rem;
    }

    .hero .content {
        grid-template-columns: 1fr;
    }

    .hero .col-1 {
        height: 90vh;
        padding: .2rem;
        max-width: 100%;
    }

    .hero h1 {
       font-size: 32px;
    }

    .hero .col-2 {
        display: none;
    }

    
}
