*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Comfortaa:wght@400;500;600&family=Faster+One&family=Luckiest+Guy&family=Mochiy+Pop+P+One&family=Monoton&family=Montserrat:ital,wght@0,400;0,600;1,300&family=Original+Surfer&family=Permanent+Marker&family=Poiret+One&family=Racing+Sans+One&family=Rubik+Mono+One&family=Single+Day&family=Warnes&family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #6948ff;
  --secondary: #553bcb;
  --darkgrey: #22262a;
  --lightgrey: #d3d3d3;
  --grey: #808080;
}


body {
 color: #333333;
 font-family: 'Montserrat', sans-serif;
}

ul{
  list-style: none;
}

a{
text-decoration: none;
columns: #fff;
}

.primary-color {
  color: var(--lightgrey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  width: 100%;
  padding: 8px 0;
  border-radius:5px;
   background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  animation:slidebg 2s linear infinite;
   color: #fff;
   cursor: pointer;
   border: none;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}


.button:hover {
 background-color: transparent;
 border: 2px solid limegreen;
border-radius: 5px;
}
